name: Deploy to Google Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and Deploy to Google Cloud Run
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_KEY }}

    - name: Set up Google Cloud CLI
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: tranquil-garage-479203-v1  # Set your project ID here
        export_default_credentials: true

    - name: Build and Push Docker Image
      run: |
        gcloud builds submit \
          --tag gcr.io/${{ secrets.GCP_PROJECT }}/my-app

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy my-app \
          --image gcr.io/${{ secrets.GCP_PROJECT }}/my-app \
          --platform managed \
          --region us-central1 \
          --allow-unauthenticated
